{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties"],   // to add experimental properties 
        ["@babel/transform-runtime"]   
    ]
}