.main-wrapper{
    flex: 2;
    background-color: gainsboro;
    overflow: auto;
    padding : 1rem;

    .control-wrapper{
        .control-body{
            display: flex;
            flex-direction: row;
            .input-group{
                flex: 1;
                margin-right : 1rem;
                cursor : pointer;
            }
        }
    }
    .available-tags-wrapper{
        margin-bottom: 1rem;
        .available-tags-body{
            .btn{
                margin-right: 1rem;
                font-size: .8rem;
            }
        }
    }
    .post-wrapper{
        .post-body{
            &>div{
                margin-bottom : 1rem;
            }
        }
    }
}