.auth-wrapper{
    min-height: 90vh;
    // background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
    .auth-body{
        padding : 4rem;
        background-color: rgba(40, 40, 40,.92);
        color : white;
        font-weight: bold;
        .auth-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top : 2rem;
        }
    }
}